* {
	padding: 0;
	margin: 0;
	transition: all 300ms;
}

@font-face {
	font-family: 'gap';
	src: url('./GapSans.ttf') format('truetype');
}

:root {
	--color: black;
	--background:  yellow;
	--highlight : #ff04;
	--muted : #2224;
	--size: 1em;

	--log-blend: color-burn; 
	--blur: 0px;

	--outline-color: #0002;
	--outline-width: 1px;
	--outline-width-negative: -1px;

	/* Incement font change */
	--t1-font: "hermit";
	--t2-font: "hermit";
	--t3-font: "hermit";
	--t4-font: "hermit";
	--t5-font: "hermit";
	--t6-font: "hermit";
	--t7-font: "hermit";
	--t8-font: "hermit";
}

.hide {
	position: absolute;
	top: .2em;
	right: .2em;
}

.color {
	display: grid;
}

.color > * {
	margin: .2em 0;
	border-radius: 50px;
}

.t1 {font-family: var(--t1-font) !important;}
.t2 {font-family: var(--t2-font) !important;}
.t3 {font-family: var(--t3-font) !important;}
.t4 {font-family: var(--t4-font) !important;}

.t5 {font-family: var(--t5-font) !important;}
.t6 {font-family: var(--t6-font) !important;}
.t7 {font-family: var(--t7-font) !important;}
.t8 {font-family: var(--t8-font) !important;}


body {
	background-color: var(--background) !important;
	color: var(--color);
	font-size: var(--size);
	font-family: 'gap';
}

.mono {
	font-family: 'hermit';
}

.big {
	font-size: 40vw;
	position: fixed;
	left: 25vw;
	top: 0vh;
	color: blue;
	mix-blend-mode: color-burn;
}

input {
	all: unset;
	width: 90%;
}

input.color {
	height: 50px;
}

select {
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 1em;
	height: 80px;
	width: 80%;
	font-size: 1.1em;
	margin-top: .5em;
}

input[type="range"]{
	height: 60px;
	background: grey;
	border: 2px solid black;
}

::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 60px;
			/* 1 */
			height: 60px;
			background: #ffffff66;
			border-radius: 50px !important;
		border: 2px solid black;
		}

		::-moz-range-track {
			height: 60px;
		}

		::-moz-range-thumb {
			background: #ffffff66;
			box-shadow: 0 0 13px 8px rgba(0,0,0,.1);
			height: 60px;
			width: 60px;
			box-sizing: border-box;
			border-radius: 50px !important;
	border: 2px solid black;
		}

		::-ms-fill-lower {
			background: dodgerblue;
		}

		::-ms-thumb {
			background: #ffffff66;
			box-shadow: 0 0 5px 8px rgba(0,0,0,.1);
			height: 60px;
			width: 60px;
			box-sizing: border-box;
		}

		::-ms-ticks-after {
			display: none;
		}

		::-ms-ticks-before {
			display: none;
		}

		::-ms-track {
			background: #ddd;
			box-shadow: 0 0 5px 8px rgba(0,0,0,.1);
			color: transparent;
			height: 60px;
			border: none;
		}

		::-ms-tooltip {
			display: none;
		}

.item {
	position: relative;
	margin: 1em auto;
	max-width: 800px;
	border: 3px solid black;
	padding: .5em;
}

.item button {
	background: white;
	border: 2px solid black;
	color: black;
	margin: .5em .5em;
}

.inactive {
	opacity: .5;
}
.messages {
	font-family: monospace;
	font-size: .6em;
	mix-blend-mode: var(--log-blend);
}

.word {
  display: inline-block;
  margin-right: .35em;
}

.flash{
	font-size: 5.5em;
	background: red;
	color: white;
	font-family: 'OPS Favorite';
}

.validation {
	width: 20vw;
	position: fixed;
	left: 35vw;
	top: 20vh;
	z-index: 50;
}

body {
	font-family: 'OPS Favorite';
	font-family: 'Gap Sans';
	font-size: 22px;
	background: yellow;
}

h1 {
	font-size: 4em;
	background: var(--highlight);

	text-shadow: var(--outline-width-negative) var(--outline-width-negative) 0 var(--outline-color),
							 var(--outline-width) var(--outline-width-negative) 0 var(--outline-color),
							 var(--outline-width-negative) var(--outline-width) 0 var(--outline-color),
							 var(--outline-width) 1px 0 var(--outline-color);
}

h2 {
	font-size: 3em;
	background: var(--highlight);

	text-shadow: var(--outline-width-negative) var(--outline-width-negative) 0 var(--outline-color),
							 var(--outline-width) var(--outline-width-negative) 0 var(--outline-color),
							 var(--outline-width-negative) var(--outline-width) 0 var(--outline-color),
							 var(--outline-width) 1px 0 var(--outline-color);
}

h3 {
	font-size: 2em;
	background: var(--highlight);

	text-shadow: var(--outline-width-negative) var(--outline-width-negative) 0 var(--outline-color),
							 var(--outline-width) var(--outline-width-negative) 0 var(--outline-color),
							 var(--outline-width-negative) var(--outline-width) 0 var(--outline-color),
							 var(--outline-width) 1px 0 var(--outline-color);
}

h4 {
	font-size: 1.8em;

	text-shadow: var(--outline-width-negative) var(--outline-width-negative) 0 var(--outline-color),
							 var(--outline-width) var(--outline-width-negative) 0 var(--outline-color),
							 var(--outline-width-negative) var(--outline-width) 0 var(--outline-color),
							 var(--outline-width) 1px 0 var(--outline-color);
}

.light {
	color: var(--muted);
}

p {
	font-size: 2em;
}

.box > * {
	max-width: 90%;
	max-height: 90%;
}

img, video {
	max-width: 80%;
	max-height: 80%;
	box-shadow: 0 0 30px 15px rgba(0,0,0,.3);
}

.box {
	overflow: hidden;
	position: fixed;
	filter: blur(var(--blur));

	display: flex;
	justify-content: center;
	align-items: center;
	/* box-shadow: 0 0 13px 5px rgba(0,0,0,.1); */
	/* border: 1px solid var(--color); */
}

#display {
	top: 14vh;
	height: 82vh;
	left: 5vw;
}


#caption {
	height: 10vh;
	top: 1.5vh;
	left: 5vw;
}


.controller {
	width: 40vw;
	height: 8vh;
	bottom: 2vh;
	left: 1vw;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	/* font-family: monospace; */
}


button {
	all: unset;
	/* border: 2px solid black; */
	padding: .5em;
	user-select: none;
}


button:hover {
	background: black;
	color: white;
}
