* {
	padding: 0;
	margin: 0;
	transition: all 300ms;
}

:root {
	--color: 'black';
	--background: 'grey';
	--muted : '#2224';
	--t1-font: "hermit";
	--t2-font: "hermit";
	--t3-font: "hermit";
	--t4-font: "hermit";

	--t5-font: "hermit";
	--t6-font: "hermit";
	--t7-font: "hermit";
	--t8-font: "hermit";
}

.t1 {font-family: var(--t1-font) !important;}
.t2 {font-family: var(--t2-font) !important;}
.t3 {font-family: var(--t3-font) !important;}
.t4 {font-family: var(--t4-font) !important;}

.t5 {font-family: var(--t5-font) !important;}
.t6 {font-family: var(--t6-font) !important;}
.t7 {font-family: var(--t7-font) !important;}
.t8 {font-family: var(--t8-font) !important;}


body {
	background-color: var(--background) !important;
	color: var(--color);
}

.mono {
	font-family: 'hermit';
}

.big {
	font-size: 40vw;
	position: fixed;
	left: 25vw;
	top: 0vh;
	color: blue;
	mix-blend-mode: color-burn;
}

input {
	all: unset;
	border-bottom: 1px solid black;
}

input.color {
	width: 100px;
	height: 50px;
}

.item {}

.messages {
	font-family: monospace;
	font-size: .6em;
}

.word {
  display: inline-block;
  margin-right: .3em;
}

.flash{
	font-size: 5.5em;
	background: red;
	color: white;
	font-family: 'OPS Favorite';
}

.validation {
	width: 20vw;
	position: fixed;
	left: 35vw;
	top: 20vh;
	z-index: 50;
}

body {
	font-family: 'OPS Favorite';
	font-family: 'Gap Sans';
}

h1 {
	font-size: 4em;
	background: var(--highlight);
}

h2 {
	font-size: 3em;
	background: var(--highlight);
}

h3 {
	font-size: 2em;
	background: var(--highlight);
}

h4 {
	font-size: 1.8em;
}

.light {
	color: var(--muted);
}

p {
	font-size: 2em;
}

.box > * {
	max-width: 90%;
	max-height: 90%;
}

.box {
	overflow: hidden;
	position: fixed;

	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 13px 5px rgba(0,0,0,.1);
}

#display {
	top: 14vh;
	height: 82vh;
	left: 5vw;
}


#caption {
	height: 10vh;
	top: 1.5vh;
	left: 5vw;
}


.controller {
	width: 40vw;
	height: 8vh;
	bottom: 2vh;
	left: 1vw;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	/* font-family: monospace; */
}


button {
	all: unset;
	/* border: 2px solid black; */
	padding: 1em;
	user-select: none;
}
button:hover {
	background: black;
	color: white;
}

